/java/track-ampel.iml
/java/track-ampel.ipr
/java/track-ampel.iws
/java/target
java/out/
java/.idea/
java/track-ampel.ids
*.log
.idea/compiler.xml
.idea/copyright/
.idea/description.html
.idea/misc.xml
.idea/modules.xml
.idea/project-template.xml
.idea/workspace.xml
CodilityLessons.iml
